// colors
$colorWhite: #fff;
$colorBlack: #000;

$colorMainText: #8288a2;
$colorDarkText: #2c3e50;
$colorGrayText: #b8bed8;

$colorGray: #e3e3e3;
$colorGray2: #3f3f3f;

$colorLightGray: #edeeef;
$colorLightGray2: #dce0f1;
$colorLightGray3: #d8deee;

$colorMainBackground: #f6f6f6;

$colorBlue: #0096da;
$colorDarkBlue: #0081bc;
$colorDarkestBlue: #015d87;
$colorLightBlue: #0698db;


